.prompt-main-ques {
    background: #fcf4ff;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    height: 100vh;
    transition: 0.5s;
}
.ques_in_sort a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 40px;
    color: #212121;
    box-shadow: 0px 0px 8px #0c0c0c1a;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}
.question-in {
    width: 100%;
    max-width: 1070px;
    transition: 0.5s;
}
.ques-arwo {
    margin-left: 15px;
    transition: 0.5s;
}
.ques-arwo img {
    width: 36px;
    height: 36px;
    background: #eed9f5;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    transition: 0.5s;
    padding: 6px;
    box-shadow: 0px 0px 3px #2d2d2d2e;
}
.ques_in_sort a:hover .ques-arwo img {
    transform: rotate(90deg);
    transition: 0.5s;
}
.ques_in_sort a:hover {
    margin-top: -4px;
    transition: 0.5s;
}
.btn-load-more {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;     /* Align the content vertically */
    margin: 0 auto;          /* Auto margin for centering */
    padding-top: 15px;
  }

.btn-load-more a img {
   
    margin-left: 6px;
    max-width: 30px;
}
.btn-load-more {
    display: flex;
    align-items: center;      
    justify-content: center;
    display: block;
    max-width: 125px;
    margin: 0 0 0 auto;
    text-align: center;
    padding-top: 15px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
}
.btn-load-more a {
    width: 100%;
    padding: 13px 15px;
    background: linear-gradient(to right, #8b3ca5, #0d39c8, #0027a5d4);
    color: #ffffff;
    font-size: 16px;
    border: none;
    letter-spacing: 0.5px;
    border-radius: 34px;
    cursor: pointer;
    transition: background 0.3s;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}
.btn-load-more a:hover {
  transition: background 0.3s;
    background: linear-gradient(to right, #0027a5d4, #0d39c8, #8b3ca5);
  }

.question-in {
    margin: 0 10px;
}


@media only screen and (max-width: 992px) {
.ques-arwo {
    margin-left: 10px;
    width: 38px;
    height: 38px;
}
}
@media only screen and (max-width: 767px) {
  .ques-arwo {
    display: none;
}
.question-in {
    margin: 0 10px;
}
.ques_in_sort a {
    padding: 14px 16px;
    margin-bottom: 14px;
    border-radius: 5px;
    font-size: 14px;
}
.prompt-main-ques {
    height: auto;
    padding: 40px 0;
    height: auto;
}
.btn-load-more a {
    padding: 13px 13px;
    font-size: 14px;
    font-weight: 500;
}
}