

.notfound-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #8b3ca5, #0d39c8); /* Beautiful gradient */
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .notfound-content {
    color: #fff;
  }
  
  .notfound-title {
    font-size: 120px;
    font-weight: bold;
    animation: bounce 2s infinite; /* Apply bounce animation */
  }
  
  .notfound-message {
    font-size: 24px;
    margin: 20px 0;
  }
  
  .notfound-button {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .notfound-button:hover {
    background: linear-gradient(135deg, #8b3ca5, #0d39c8);
    color: white;
  }
  

  /* Bounce Animation */
@keyframes bounce {
    0%, 100% {
      transform: translateY(0); /* Start and end at normal position */
    }
    50% {
      transform: translateY(-30px); /* Move up */
    }
  }